/* ROOT VARS */
:root {
  --clr-primary: #0000a8;
  --clr-primary-idle: #87888f;
  --clr-secondary: ;
  --clr-background: #57a8a8;
  --clr-ui-trim: hsl(255, 7%, 77%);
  --clr-ui-trim-light: hsl(from var(--clr-ui-trim) h s 97%);
  --clr-ui-trim-dark: hsl(from var(--clr-ui-trim) h s 60%);
  --clr-drop-shadow: black;
  /* Dark mode later */
  --ui-padding: 0.4rem;
  --taskbarHeight: 5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* CORE META */
html {
  font-size: 62.5%;
}
body {
  height: 100dvh;
  background: var(--clr-background);
  font-size: 1.8rem;
  font-weight: 600;
  overflow: hidden;
}
header {
  height: 100%;
}
nav {
  height: 100%;
  padding: 1rem;
}
main {
  position: absolute;
  inset: 0;
}

/* SMALL META */
a {
  color: inherit;
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
}
ul {
  list-style: none;
}
button {
  background: var(--clr-ui-trim);
  font: inherit;
  border: none;
  cursor: pointer;
}
input {
  font: inherit;
}
button.outset:active,
button.outset.isActive {
  border-top-color: var(--clr-ui-trim-dark);
  border-right-color: var(--clr-ui-trim-light);
  border-bottom-color: var(--clr-ui-trim-light);
  border-left-color: var(--clr-ui-trim-dark);
  box-shadow: inset 1px 1px 1px black;
}
input {
  outline: none;
  border: 3px solid;
  border-top-color: var(--clr-ui-trim-dark);
  border-right-color: var(--clr-ui-trim-light);
  border-bottom-color: var(--clr-ui-trim-light);
  border-left-color: var(--clr-ui-trim-dark);
  box-shadow: inset 1px 1px 1px black;
  padding: var(--ui-padding);
}
hr {
  border-top: 2px solid var(--clr-ui-trim-dark);
  border-bottom: 2px solid var(--clr-ui-trim-light);
}
.link-as-button {
  cursor: pointer;
  padding: 0 0.4rem;
  background: var(--clr-ui-trim);
}
.link-as-button.outset:active {
  border-top-color: var(--clr-ui-trim-dark);
  border-right-color: var(--clr-ui-trim-light);
  border-bottom-color: var(--clr-ui-trim-light);
  border-left-color: var(--clr-ui-trim-dark);
  box-shadow: none;
}
/* "NAV" STUFF */
header .shortcut-area {
  color: white;
  font-weight: 400;
}
.shortcut-area {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 3rem;
  height: calc(100% - var(--taskbarHeight));
}
.shortcut-area li {
  position: relative;
  display: flex;
  align-items: flex-end;
  width: 8rem;
  height: 8rem;
  text-align: center;
}
.shortcut img {
  overflow: hidden;
  padding: 0 1rem;
  filter: drop-shadow(2px 2px 1px black);
}
.shortcut span {
  position: absolute;
  top: calc(100% + 1rem);
  left: 50%;
  transform: translateX(-50%);
  display: -webkit-box;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 1;
  word-wrap: break-word;
}
#taskbar {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  height: var(--taskbarHeight);
  padding: var(--ui-padding);
  border-top: 3px outset var(--clr-ui-trim-light);
  background: var(--clr-ui-trim);
  z-index: 1000;
}
.start-button {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  height: 100%;
  padding: 0 1rem;
  background: var(--clr-ui-trim);
  font-size: 2.5rem;
  font-weight: 700;
}
.start-button span {
  line-height: 0.8;
}
.start-button img {
  height: 0.8em;
  width: 100%;
}
.start-menu {
  position: absolute;
  bottom: 100%;
  left: var(--ui-padding);
  max-width: 30rem;
  width: 100%;
  padding: var(--ui-padding);
  background: var(--clr-ui-trim);
  border: 1px solid var(--clr-ui-border);
  z-index: 1;
  overflow: hidden;
}
.start-menu button {
  width: 100%;
}
.start-user {
  display: flex;
  align-items: center;
  padding: 1rem 0;
  font-size: 2rem;
}
.start-menu hr {
  margin-bottom: 1rem;
}
.start-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.start-form:not(:last-child) {
  margin-bottom: 1rem;
}
.start-form input {
  display: block;
  width: 100%;
}
.start-switch:hover {
  color: white;
  background: var(--clr-primary);
}
/* FILE EXPLORER */
.window {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-width: 100%;
  max-height: 100%;
  padding: var(--ui-padding);
  background: var(--clr-ui-trim);
  resize: both;
  overflow: hidden;
}
.window:has(.maximized) {
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: calc(100% - var(--taskbarHeight)) !important;
  resize: none;
  transition: all 0.2s linear;
}
.notepad:has(.maximized) {
  z-index: 901;
}
.window-header:has(.maximized) {
  pointer-events: none;
}
.window-header {
  justify-content: space-between;
  background: var(--clr-primary);
}
.window-header,
.window-footer {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 3rem;
  padding: 0.3rem;
}
.window-header span,
.window-footer span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.window-header span {
  color: white;
  pointer-events: none;
}
.window-header-buttons {
  display: flex;
  gap: 0.4rem;
  pointer-events: auto;
  height: 100%;
}
.window-header-buttons button,
.window-header-buttons .link-as-button {
  display: flex;
  align-items: center;
  padding: 0.2rem 0.3rem;
}
.window-header-buttons button svg,
.window-header-buttons .link-as-button svg {
  height: 100%;
}
.window-options button,
.window-options a {
  padding: 0 1rem;
  border: 3px solid;
  border-color: transparent;
  background: none;
}
.window-options button:active,
.window-options a:active {
  border-top-color: var(--clr-ui-trim-dark);
  border-right-color: var(--clr-ui-trim-light);
  border-bottom-color: var(--clr-ui-trim-light);
  border-left-color: var(--clr-ui-trim-dark);
}
.window-options button::first-letter .wiindow-options a::first-letter {
  text-decoration: underline;
}
.window-address {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.window-address span {
  flex-shrink: 0;
}
.window-address input {
  flex-grow: 1;
  padding: 0.5rem 0.5rem;
}
.window-address input:disabled {
  background: var(--clr-ui-trim);
}
.window-content {
  flex-grow: 1;
  padding: 1rem;
  background: white;
  overflow: auto;
}
.window .shortcut-area {
  display: flex;
  flex-direction: row;
}
button.shortcut {
  background: none;
}
.notepad {
  z-index: 900;
}
.notepad .window-content {
  padding: var(--ui-padding);
}
.notepad-textarea {
  width: 100%;
  border: none;
  outline: none;
  resize: none;
  font-size: 2rem;
}

/* HELPER CLASSES */
.inset {
  border: 3px solid;
  border-top-color: var(--clr-ui-trim-dark);
  border-right-color: var(--clr-ui-trim-light);
  border-bottom-color: var(--clr-ui-trim-light);
  border-left-color: var(--clr-ui-trim-dark);
  box-shadow: inset 1px 1px 1px black;
}
.outset {
  border: 3px solid;
  border-top-color: var(--clr-ui-trim-light);
  border-right-color: var(--clr-ui-trim-dark);
  border-bottom-color: var(--clr-ui-trim-dark);
  border-left-color: var(--clr-ui-trim-light);
  box-shadow: 1px 1px 1px var(--clr-drop-shadow);
}
.noselect {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
